table {
    border-collapse: collapse;
    width: 30%;
    margin: auto;
    text-align: center;
}
tr {
    border-bottom: 2px solid #ddd;
}

th {
    padding: 10px;
    background-color: #ddd;
}

td {
    padding: 5px;
}
