.grid {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: 2px 100px 2px 100px 100px 2px 100px 100px 100px 100px 50px 100px 2px;
    color: black;
}

.startUp {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid black;
}

.direct {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid black;
}

.init {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid black;
}

.stage {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid black;
}

.control {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid black;
}

.close {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid black;
}

.manage {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid black;
}

.hiddenForm {
    padding: 25px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    z-index: 5;
    position: fixed;
    top: auto;
    left: auto;
    margin-top: 40px;
}
