.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}
.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
.react-resizable-hide > .react-resizable-handle {
  display: none;
}

#toolbox {
  border: 2px solid black;
  float: left;
  position: relative;
  width: 27%;
  height: 450px;
  padding: 1.5%;
}
#workspace {
  border: 2px solid black;
  float: right;
  position: relative;
  width: 69%;
  height: 450px;
}

.draggable2 {
  background-color: rgb(204, 35, 35);
  border: 2px solid black;
}
.draggable3 {
  background-color: rgb(52, 77, 38);
  border: 2px solid black;
}
.arrow_box {
  position: relative;
  background: #88b7d5;
  border: 5px solid #c2e1f5;
}
.arrow_box:after,
.arrow_box:before {
  left: 98%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #88b7d5;
  border-width: 30px;
  margin-top: -30px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #c2e1f5;
}

.draggable {
  background-color: cyan;
  border: 2px solid black;
  border-radius: 100%;
  text-align: center;
}

.draggable-items {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: cyan;
  border: 2px solid black;
  border-radius: 100%;
  text-align: center;
}

.wrapper {
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}

.wrapper:after {
  padding-top: 60%;
  display: block;
  content: "";
}
